.subject-box,
.subject-box-selected {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 70px;
  margin: 1em;
  padding: 1em;
  color: var(--white);
  background: var(--light-black);
  border-radius: var(--border-radius-xxs);
  transition: var(--transition-medium);
  transition-delay: var(--transition-medium-rapid);
  will-change: background, border;
}

.subject-box {
  border: 2px solid var(--light-black);
}

.subject-box:hover {
  border: 2px solid var(--lighter-black);
}

.subject-box-selected {
  border: 2px solid var(--cyan);
}

.subject-box:hover,
.subject-box-selected:hover {
  background: var(--lighter-black);
  cursor: pointer;
  transition: var(--transition-rapid);
  transition-delay: var(--transition-near-instant);
}

@media only screen and (--viewport-tablet) {
  .subject-box,
  .subject-box-selected {
    width: 120px;
  }
}

@media only screen and (--viewport-phone) {
  .subject-box,
  .subject-box-selected {
    box-sizing: border-box;
    width: 45%;
    height: 200px;
    margin: 6px;
  }
}
