.container,
.prev-btn,
.next-btn,
.subject-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 8px;
}

.subject-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 16px;
}

@media only screen and (--viewport-tablet) {
  .subject-container {
    justify-content: center;
    order: 2;
    margin: 0 12px;
  }

  .prev-btn {
    order: 1;
  }
  .next-btn {
    order: 3;
  }
}

@media only screen and (--viewport-phone) {
  .container {
    flex-wrap: wrap;
  }

  .subject-container {
    justify-content: center;
    order: 1;
    margin: 0 12px;
  }
}
