.chat-window {
  grid-row: 1;
  grid-column: 2;
  height: 100%;
  color: var(--black);
  background-color: var(--white);
}

.chat-window-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 42px;
  background-color: var(--black);
}

.header-button-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.leave-button {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  font-family: var(--body-font);
  background-color: #ec3a3aff;
  border: none;
  border-radius: var(--border-radius-m);
  cursor: pointer;
  transition: var(--transition-relaxed);
  transition-delay: var(--transition-rapid);
}

.leave-button:hover {
  background-color: #a90707;
  cursor: pointer;
  transition: var(--transition-rapid);
  transition-delay: 0ms;
}

.leave-button:active {
  background-color: #ec3a3aff;
}

.header-button-group .functions {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.header-button-group .functions .function-button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin: 6px;
  border-radius: 50%;
  transition: var(--transition-relaxed);
  transition-delay: var(--transition-rapid);
}

.header-button-group .functions .function-button:first-of-type {
  margin-left: 0;
}

.header-button-group .functions .function-button:last-of-type {
  margin-right: 0;
}

.header-button-group .functions .function-button:hover {
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  transition: var(--transition-rapid);
  transition-delay: 0ms;
}
.header-button-group .functions .function-icon {
  width: 24px;
  height: 24px;
}

.tutor-wrapper {
  display: flex;
  align-items: center;
}

.tutor-wrapper .tutor-avatar {
  width: 45px;
  height: 45px;
  margin-right: 12px;
  border-radius: 50%;
}

.tutor-wrapper .tutor-name {
  color: var(--white);
  font-weight: 700;
  font-size: 20px;
  font-family: var(--header-font);
  text-decoration: none;
  transition: var(--transition-medium);
  transition-delay: var(--transition-rapid);
}

.tutor-wrapper .tutor-name:hover {
  color: var(--cyan);
  cursor: pointer;
  transition: var(--transition-extra-rapid);
  transition-delay: var(--transition-near-instant);
}

.mobile-menu-button {
  display: none;
  width: 20px;
  padding: 10px 0 10px 10px;
  color: var(--white);
  font-weight: 700;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.mobile-menu-button:hover {
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}

.chat-window-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: calc(100vh - 144px);
  padding: 15px;
  overflow-y: scroll;
  color: var(--white);
  background: var(--light-black);
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) transparent;
}

.chat-window-content::-webkit-scrollbar {
  width: 8px;
  height: 15px;
}

.chat-window-content::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.chat-window-content::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: var(--scrollbar-thumb);
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 12px;
  background-color: var(--black);
}

.form * {
  margin: 0 6px;
}

.form:first-child,
.form:last-child {
  margin: 0;
}

.input-message {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: 2px solid transparent;
  border-radius: var(--border-radius-m);
  outline: none;
  transition: border var(--transition-medium-rapid);
  transition-delay: var(--transition-extra-rapid);
}

.input-message:focus {
  border: 2px solid var(--cyan);
  transition: border var(--transition-extra-rapid);
}

.input-message-content {
  width: 100%;
}

.attach-button,
.send-button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: var(--transition-relaxed);
  transition-delay: var(--transition-rapid);
}

.attach-button:hover,
.send-button:hover {
  background-color: var(--light-black);
  cursor: pointer;
  transition: var(--transition-extra-rapid);
  transition-delay: 0ms;
}

.attach-button .function-icon,
.send-button .function-icon {
  width: 18px;
  height: 18px;
  margin: 0;
}

.send-button:hover {
  background-color: var(--cyan);
}

.send-button:active {
  background-color: var(--blue);
}

.send-button .function-icon {
  width: 24px;
  height: 24px;
  transform: translateX(2px);
}
