.profile-bigcontainer {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 25px;
}

.upload-image-form {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-top: 8px;
}

.upload-image-form .form-image-upload {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-image-upload input {
  display: none;
}

.form-image-upload .fake-file {
  width: 110px;
  color: var(--black);
  font-size: 15px;
}

.fake-file label:hover {
  cursor: pointer;
}

.upload-image-form img {
  width: 3rem;
}

.upload-image-form img,
.form-image-upload input:hover {
  cursor: pointer;
}

.user-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 3rem 0;
}

.avatar-image {
  width: 19rem;
  border-radius: 25px;
}

.user-info-row {
  display: flex;
  justify-content: center;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.user-info-display {
  width: 60%;
  margin-top: 1rem;
  padding-bottom: 2rem;
  color: var(--black);
}

.label-container {
  display: flex;
  align-items: center;
}

.label-container label {
  display: block;
  width: 3rem;
  padding-right: 4rem;
}

.user-info-row .input-place {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
}

.user-info-row .form-control {
  width: 85%;
  height: 24px;
  padding: 0 10px;
  border: 2px solid var(--gray);
  border-radius: 15px;
  outline: none;
}

.user-info-row .form-control:focus {
  border: 2px solid var(--black);
}

.user-info-element {
  position: relative;
}

.user-info-element img {
  width: 3rem;
  padding-right: 0.5rem;
}

.mini-save-button {
  width: 4rem;
  height: 28px;
  color: var(--white);
  font-size: 14px;
  text-align: center;
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 5px;
}

.user-info-element img:hover {
  cursor: pointer;
}

hr {
  display: block;
  width: 80%;
  border: 1px solid var(--gray);
  opacity: 0.6;
}

.subject-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 50%;
  margin-bottom: 1rem;
}

.subject-title {
  padding-top: 1rem;
}

.subject-list > div {
  margin-top: 10px;
  margin-right: 8px;
  padding: 5px 10px;
  color: var(--black);
  font-weight: lighter;
  font-size: 0.8rem;
  background-color: var(--lighter-gray);
}

.savebutton {
  display: block;
  margin-top: 3rem;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
  padding: 10px 80px;
  color: var(--white);
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 15px;
}

.savebutton:hover {
  cursor: pointer;
}

@media only screen and (--viewport-desktop) {
  .user-info-display {
    width: 100%;
    padding-bottom: 2rem;
    color: var(--black);
  }

  .subject-list {
    margin-left: 0rem;
  }
}

@media only screen and (--viewport-phone) {
  .label-container label {
    display: block;
    width: 3rem;
    padding-right: 4rem;
  }

  .input-place .form-control {
    width: 80%;
  }
}

@media only screen and (--viewport-phone-small) {
  .avatar-image {
    width: 13rem;
    border-radius: 25px;
  }

  .label-container {
    width: 5.3rem;
    font-size: 13px;
  }

  .user-info-row {
    font-size: 13px;
  }

  .mini-save-button {
    font-size: 13px;
  }
}
