.profile-bigcontainer {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 25px;
}

.upload-image-form {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 8px;
}

.upload-image-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28%;
}

.upload-image-form img {
  width: 3rem;
}

.user-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 3rem 0;
}

.avatar-image {
  width: 19rem;
  border-radius: 25px;
}

.user-info-row {
  overflow: visible;
  list-style: none;
}

.user-info-display {
  width: 55%;
  margin-top: 1rem;
  color: var(--black);
}

.user-info-row > div:not(label .subject-list) {
  display: inline-block;
  padding-left: 3rem;
}

.user-info-row label {
  padding-left: 5rem;
}

.user-info-element {
  position: relative;
}

.user-info-element img {
  position: absolute;
  top: 0.5rem;
  right: 4.5rem;
  width: 3rem;
}

hr {
  display: block;
  width: 80%;
  border: 1px solid var(--gray);
  opacity: 0.6;
}

.subject-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 50%;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.subject-list > div {
  margin-top: 10px;
  margin-right: 8px;
  padding: 5px 10px;
  color: var(--gray);
  font-weight: lighter;
  font-size: 0.8rem;
  background-color: var(--lighter-gray);
}

.savebutton {
  display: block;
  margin-top: 3rem;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
  padding: 10px 80px;
  color: var(--white);
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 15px;
}

@media only screen and (--viewport-tablet) {
  .user-info-display {
    width: 100%;
    color: var(--black);
  }
}

@media only screen and (--viewport-desktop) {
  .user-info-row > div:not(label .subject-list) {
    margin: 0 4rem;
    padding-left: 0rem;
  }

  .subject-list {
    width: 60%;
    margin-left: 0rem;
  }
}

@media only screen and (--viewport-phone) {
  .user-info-row > div:not(label .subject-list) {
    margin: 0 0rem 0rem 1.5rem;
    padding-left: 0;
  }

  .subject-list {
    width: 60%;
    margin-left: 2rem;
  }

  .user-info-row label {
    padding-left: 3rem;
  }

  .user-info-element img {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    width: 3rem;
  }
}
