.profile-bigcontainer {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  background-color: var(--white);
  border-radius: 25px;
}

.upload-image-form {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 8px;
}

.upload-image-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28%;
}

.upload-image-form img {
  width: 3rem;
}

.user-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.avatar-image {
  width: 19rem;
  border-radius: 25px;
}

.user-info-row {
  overflow: visible;
  list-style: none;
}

.user-info-display {
  width: 60%;
  margin-top: 1rem;
  color: var(--black);
}

.user-info-row > li {
  display: inline-block;
}

.user-info-row li label {
  margin-right: 8rem;
  margin-left: 5rem;
}

.user-info-element {
  position: relative;
}

.user-info-element img {
  position: absolute;
  top: 0.5rem;
  right: 4.5rem;
  width: 3rem;
}

hr {
  display: block;
  width: 80%;
  border: 1px solid var(--gray);
  opacity: 0.6;
}

.savebutton {
  display: block;
  margin-top: 3rem;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
  padding: 10px 80px;
  color: var(--white);
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 15px;
}

@media only screen and (--viewport-tablet) {
  .user-info-row li label {
    margin-right: 2rem;
    margin-left: 3rem;
  }

  .user-info-display {
    width: 100%;
    color: var(--black);
  }
}

@media only screen and (--viewport-desktop) {
  .user-info-row li label {
    margin: 0 4rem;
  }
}

@media only screen and (--viewport-phone) {
  .user-info-row li label {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .user-info-element img {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    width: 3rem;
  }
}
