.reviewer-bigcontainer {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--white);
  border-radius: 25px;
}

.reviewer-bigcontainer h3 {
  padding: 2rem 0 0rem 3rem;
  color: var(--black);
}

.reviewer-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}
