.profile-bigcontainer {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 25px;
}

.rating-comment-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 1rem;
}

.rating-comment-container span {
  color: lightgray;
  font-family: var(--body-font);
  text-align: center;
  text-decoration: underline;
}

.five-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0;
}

.five-stars img {
  width: 2.3rem;
  padding: 0 10px;
  fill: var(--blue);
}

.five-stars img,
.view-comments:hover {
  cursor: pointer;
}

.user-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.avatar-image {
  width: 18rem;
  border-radius: 25px;
}

.user-info-display {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  width: 45%;
  margin: 0 1.5rem 3rem 0;
  color: var(--black);
}

.subject-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.subject-list > div {
  margin-top: 10px;
  margin-right: 8px;
  padding: 5px 10px;
  color: var(--black);
  font-weight: lighter;
  font-size: 0.8rem;
  background-color: var(--lighter-gray);
}

.status {
  display: flex;
}

.status-detail .green,
.status-detail .red {
  width: 14px;
  margin-right: 4px;
  margin-left: 10px;
}

.green-active {
  color: green;
}
