.button {
  display: -moz-inline-grid;
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 0;
  background: none;
  border: none;
  transform: scale(1);
  transition: var(--transition-rapid);
  transition-delay: var(--transition-near-instant);
  will-change: transform;
  place-items: center;
}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: var(--transition-extra-rapid);
  transition-delay: 0ms;
}

.button:active {
  transform: scale(1);
}

.button svg {
  transform: translateY(25%);
}
