.select {
  width: var(--content-w-extra-narrow);
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

@media only screen and (--viewport-tablet) {
  .select {
    width: var(--content-w-min);
  }
}
