.container {
  display: -ms-grid;
  display: -moz-grid;
  display: grid;
  grid-gap: 1.75em;
  grid-template-areas:
    "prevBtn . . . . nextBtn"
    "prevBtn . . . . nextBtn"
    "prevBtn . . . . nextBtn";
  margin-top: 2em;
}

.prev-btn {
  grid-area: prevBtn;
}

.next-btn {
  grid-area: nextBtn;
}

.prev-btn,
.next-btn {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subject-box,
.subject-box-selected {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 65%;
  padding: 1em;
  color: var(--black);
  background: var(--lighter-gray);
  border: 5px solid var(--lighter-gray);
}

.subject-box-selected {
  border: 5px solid var(--cyan);
}

.subject-box:hover,
.subject-box-selected:hover {
  border: 5px solid var(--cyan);
  cursor: pointer;
}

@media only screen and (--viewport-tablet) {
  .container {
    grid-template-areas:
      "prevBtn . . . nextBtn"
      "prevBtn . . . nextBtn"
      "prevBtn . . . nextBtn"
      "prevBtn . . . nextBtn";
  }
}

@media only screen and (--viewport-phone) {
  .container {
    grid-gap: 2.5em;
    grid-template-areas:
      " . . "
      " . . "
      " . . "
      " . . "
      " . . "
      " . . "
      "prevBtn nextBtn";
  }
}
