.container {
  display: -ms-grid;
  display: -moz-grid;
  display: grid;
  grid-gap: 1.75em;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2em;
}

.subject-box,
.subject-box-selected {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 65%;
  padding: 1em;
  color: var(--black);
  background: var(--lighter-gray);
  border: 5px solid var(--lighter-gray);
}

.subject-box-selected {
  border: 5px solid var(--cyan);
}

.subject-box:hover,
.subject-box-selected:hover {
  border: 5px solid var(--cyan);
  cursor: pointer;
}
