.subject-box,
.subject-box-selected {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 70px;
  margin: 1em;
  padding: 1em;
  color: var(--black);
  background: var(--lighter-gray);
}

.subject-box {
  border: 5px solid var(--lighter-gray);
}

.subject-box-selected,
.subject-box:hover {
  border: 5px solid var(--cyan);
}

.subject-box:hover,
.subject-box-selected:hover {
  cursor: pointer;
}

@media only screen and (--viewport-phone) {
  .subject-box,
  .subject-box-selected {
    width: 200px;
  }
}
