:root {
  /* Fonts */
  --header-font: "Open Sans", sans-serif;
  --body-font: "Montserrat", sans-serif;

  /* Colors */
  --transparent: rgba(0, 0, 0, 0);
  --shadow-black: rgba(18, 14, 13, 0.25);
  --deep-shadow-black: rgba(18, 14, 13, 0.75);
  --scrollbar-primary: hsl(0, 0%, 10%);
  --scrollbar-thumb: hsl(0, 0%, 30%);

  /* Official Poios color palette */
  --black: #181818;
  --light-black: #2a2a2a;
  --lighter-black: #353535;
  --dark-blue: #17619c;
  --blue: #196bac;
  --dark-cyan: #079edf;
  --cyan: #00aeef;
  --gray: #cccccc;
  --light-gray: #e6e6e6;
  --lighter-gray: #f2f2f2;
  --white: #ffffff;

  /* Sizes and widths */
  --content-w-ultra-wide: 2560px;
  --content-w-wide: 1920px;
  --content-w-regular: 1280px;
  --content-w-narrow: 1024px;
  --content-w-extra-narrow: 768px;
  --content-w-min: 320px;
  --header-height: 65px;

  /* Transition timing */
  --transition-near-instant: 25ms;
  --transition-extra-rapid: 50ms;
  --transition-rapid: 100ms;
  --transition-medium-rapid: 150ms;
  --transition-medium: 200ms;
  --transition-medium-relaxed: 250ms;
  --transition-relaxed: 300ms;
  --transition-relaxed-slow: 450ms;
  --transition-slow: 600ms;
  --transition-extra-slow: 800ms;
}

@custom-media --viewport-phone-small (max-width: 424px);
@custom-media --viewport-phone (max-width: 767px);
@custom-media --viewport-tablet (max-width: 1023px);
@custom-media --viewport-desktop (max-width: 1279px);
@custom-media --viewport-desktop-large (max-width: 1919px);

/* Custom scrollbar */
:root {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-primary);
}

:root::-webkit-scrollbar {
  width: 8px;
  height: 15px;
}

:root::-webkit-scrollbar-track-piece {
  background-color: var(--scrollbar-primary);
}

:root::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: var(--scrollbar-thumb);
}
