.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: auto;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.h1 {
  margin: 3em auto 1em;
}

.select {
  min-width: 50%;
  padding: 8px;
  border-radius: 5px;
  outline: none;
}

.subheading {
  margin-top: 5em;
}
