.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  margin: auto;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.h1 {
  margin: 3em auto 1em;
}

.select {
  min-width: 60%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.subheading {
  margin-top: 5em;
}

.btn {
  width: 30%;
  margin: 5em auto 5em;
  padding: 1em 2em;
  color: var(--white);
  font-weight: bold;
  background: var(--cyan);
  border: none;
  border-radius: 15px;
  outline: none;
}

.btn:hover {
  background: var(--dark-cyan);
  cursor: pointer;
}

@media only screen and (--viewport-tablet) {
  .select {
    width: 90%;
  }

  .btn {
    width: 50%;
  }
}

@media only screen and (--viewport-phone-small) {
  .subheading {
    margin: 4em 5% 1em;
  }
}
