.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: var(--content-w-min);
  height: 100vh;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.container:before {
  content: "Ultra-wide screen";
}

@media only screen and (--viewport-desktop-large) {
  .container:before {
    content: "Large screen";
  }
}

@media only screen and (--viewport-desktop) {
  .container:before {
    content: "Regular screen";
  }
}

@media only screen and (--viewport-tablet) {
  .container:before {
    content: "Tablet screen";
  }
}

@media only screen and (--viewport-phone) {
  .container:before {
    content: "Phone screen";
  }
}

@media only screen and (--viewport-phone-small) {
  .container:before {
    content: "Small phone screen";
  }
}
