.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: var(--content-w-min);
  height: 100vh;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.background {
  position: absolute;
  z-index: -999;
  width: 100%;
  height: 100%;
  inset: 0;
}

.brand-display {
  margin: 3em;
  padding: 2.5em 1em;
}

.brand-name {
  width: 14em;
  height: 3.5em;
}

.login-signup-box {
  margin-right: 45rem;
  background: var(--light-black);
  border-radius: 10px;
}

.landing-btn {
  width: 12em;
  height: 3em;
  margin: 1em;
  padding: 1em;
  color: var(--white);
  font-weight: bolder;
  font-size: 7pt;
  border: none;
  border-radius: 10px;
}

.landing-login-btn {
  background: var(--cyan);
}

.landing-login-btn:hover {
  background: var(--blue);
}

.landing-signup-btn {
  background: var(--gray);
}

.landing-signup-btn:hover {
  background: var(--deep-shadow-black);
}
