.login-box {
  margin-right: 45rem;
  background: var(--light-black);
  border-radius: 1em;
}

.login-field-wrapper {
  margin: 0.5em 0;
}

.login-field-input {
  height: 2em;
  margin: 0.1em 0;
  border-radius: 1em;
}

/*
Buttons
 */

.login-btn-box {
  margin: 2em;
  padding: 2em;
}

.login-btn {
  width: 12em;
  height: 3em;
  margin: 1em;
  padding: 1em;
  color: var(--white);
  font-size: 7pt;
  background: var(--cyan);
  border: none;
  border-radius: 1em;
}

.login-button:hover {
  color: var(--blue);
}

/*
Responsive
 */

@media only screen and (--viewport-tablet) {
  .background {
    display: none;
  }

  .login-box {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: var(--black);
    border-radius: 0;
  }

  .brand-display {
    margin: 15em 2em 10em;
    padding: 2em;
  }

  .brand-name {
    width: 40em;
    height: 10em;
  }

  .login-field-box {
    margin: 1rem 2rem 10rem;
    padding: 5rem;
  }

  .login-field-input {
    width: 20em;
    height: 5em;
    margin: 0.5em;
    font-size: 12pt;
    border-radius: 2em;
  }
}

@media only screen and (--viewport-phone) {
  .brand-display {
    margin: 15em 2em 5em;
  }

  .brand-name {
    width: 14em;
    height: 3.5em;
  }

  .login-field-box {
    margin: 0 0 5rem;
    padding: 3rem;
  }

  .login-field-input {
    width: 10em;
    height: 3em;
    margin: 0.5em;
    font-size: 9pt;
    border-radius: 2em;
  }
}

@media only screen and (--viewport-phone-small) {
  .brand-display {
    margin: 15em 0 5em;
  }
}
