.searchbar {
  padding: 0 0 2rem 0;
}

.searchbar-h1 {
  padding-top: 1rem;
  text-align: center;
}

.tutor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 5rem;
}
