.item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.item .picture {
  width: 64px;
  height: 64px;
}

.item .content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(272px - 64px - 18px);
  margin-left: 18px;
  text-align: -webkit-left;
  text-align: -moz-left;
  text-align: left;
}

.item .content h2 {
  margin-top: 0;
}

.item .content .subject,
.item .content .time {
  width: 100%;
  margin: 0;
  overflow: hidden !important;
  color: var(--black);
  white-space: nowrap;
  text-overflow: ellipsis;
}
