.button {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin: 0 6px;
  padding: 6px;
  background: transparent;
  border: none;
  transform: scale(1);
  transition: var(--transition-medium);
  transition-delay: var(--transition-medium-rapid);
  will-change: tranform;
}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: var(--transition-medium-rapid);
  transition-delay: 0ms;
}

.button:active {
  transform: scale(0.95);
}

.button img {
  width: auto;
  height: 24px;
}

.button .active-indicator {
  position: absolute;
  top: -5%;
  left: calc(50% - 3px);
  width: 6px;
  height: 6px;
  -webkit-background-image: linear-gradient(30deg, var(--blue), var(--cyan));
  -moz-background-image: linear-gradient(30deg, var(--blue), var(--cyan));
  -o-background-image: linear-gradient(30deg, var(--blue), var(--cyan));
  background-image: linear-gradient(30deg, var(--blue), var(--cyan));
  border-radius: 50%;
}
