.wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: var(--content-w-min);
  height: 100vh;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}

.box {
  margin: auto;
  padding: 75px;
  background: var(--light-black);
  border-radius: var(--border-radius-m);
  box-shadow: 0 0 240px 0 var(--deep-shadow-black);
}

.box .brand img {
  width: auto;
  height: 64px;
  margin-bottom: 52px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box .button-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.box .button-wrapper a {
  margin: 0 12px;
  text-decoration: none;
}

.box .button-wrapper a:first-child {
  margin-left: 0;
}

.box .button-wrapper a:last-child {
  margin-right: 0;
}

.box .button-wrapper-col {
  flex-direction: column;
}

.box .button-wrapper-col a {
  margin: 10px 0;
}

.box .button-wrapper-col a:first-child {
  margin-top: 0;
}

.box .button-wrapper-col a:last-child {
  margin-bottom: 0;
}

.box .button-wrapper a button {
  width: 140px;
  padding: 14px 0;
  font-weight: 600;
  text-transform: uppercase;
  background: var(--white);
  border: none;
  border-radius: var(--border-radius-m);
  transform: scale(1);
  transition: var(--transition-medium);
  transition-delay: var(--transition-rapid);
  will-change: background, transform;
}

.box .button-wrapper a button:hover {
  background: var(--gray);
  cursor: pointer;
  transition: var(--transition-rapid);
}

.box .button-wrapper a button:active {
  transform: scale(0.95);
}

.box .button-wrapper a .primary {
  color: var(--white);
  background: var(--cyan);
}

.box .button-wrapper a .primary:hover {
  background: var(--blue);
}

@media only screen and (--viewport-tablet) {
  .box {
    box-shadow: 0 0 16px 0 var(--shadow-black);
  }
}

@media only screen and (--viewport-phone) {
  .box {
    padding: 0;
    background: transparent;
    box-shadow: none;
  }
}
