.nav {
  padding-left: 36px;
}

.nav ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav ul li {
  position: relative;
  margin: 0 18px;
  list-style: none;
}

.nav ul a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

.nav ul a:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--black);
  transform: scaleX(0);
  transform-origin: center;
  transition: var(--transition-medium);
  transition-delay: var(--transition-medium-rapid);
  content: "";
  will-change: transform;
}

.nav ul a:hover:before {
  transform: scaleX(1);
  transition: var(--transition-medium-rapid);
  transition-delay: var(--transition-near-instant);
}
