.img {
  position: -ms-device-fixed;
  position: fixed;
  z-index: -999;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  inset: 0;
}

@media only screen and (--viewport-phone) {
  .img {
    display: none;
  }
}
