/*ChatWindow.js*/
.chat-window {
  grid-row: 1;
  grid-column: 2;
  height: 100%;
  color: var(--black);
  background-color: var(--white);
}

.chat-window-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 42px;
  background-color: var(--black);
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-title {
  margin: 0;
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
}
.header-description {
  color: var(--white);
  font-size: 10px;
}
.course-name {
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
}
.header-button-group {
  display: flex;
  align-items: center;
}
.leave-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 17px;
  margin-left: 5px;
  padding: 10px 40px;
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  font-family: var(--body-font);
  background-color: #ec3a3aff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.leave-button:hover {
  background-color: #c00303;
  cursor: pointer;
}
.function-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 20px;
  margin-right: 10px;
  margin-left: 5px;
  padding: 10px;
  color: var(--white);
  font-weight: 700;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.function-button:hover {
  color: var(--white);
  background-color: var(--dark-blue);
  cursor: pointer;
}
.function-icon {
  width: auto;
  height: 20px;
  margin-right: 5px;
}

.profile-wrapper {
  display: inline-flex;
}

.avatar {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 50%;
}

.chat-window-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: calc(100% - 144px);
  padding: 15px;
  overflow-y: scroll;
  color: var(--white);
  background: var(--light-black);
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) transparent;
}

.chat-window-content::-webkit-scrollbar {
  width: 8px;
  height: 15px;
}

.chat-window-content::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.chat-window-content::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: var(--scrollbar-thumb);
}

.chat-window-content .wrapper {
  max-height: 0; /* Why the fuck does this work??? */
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 2px;
  background-color: var(--black);
}

.input-message-content {
  width: 100%;
  margin-bottom: 0;
}

.input-message {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  outline: none;
}

.attach-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.attach-button:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}

.send-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 20px;
  margin-right: 5px;
  margin-left: 15px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.send-button:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}
