/*Chatroom.js*/
.chatroom-content {
  display: grid;
  grid-template-columns: 400px 1fr;
  width: 100%;
  height: 100vh;
}

.chatroom-content-sidebar {
}
.chatroom-content-chatWindow {
  /*background-color: var(--white);*/
}

/*Sidebar.js*/
.side-bar {
  height: 100vh;
  background-color: var(--black);
}
/*UserInfo.js*/
.user-info {
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding: 12px 16px;
  border-bottom: 3px solid var(--gray);
}
.user-info-content {
  display: flex;
}
.avatar {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
}
.username {
  margin-left: 15px;
  color: var(--white);
}

.sign-out {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  padding: 10px;
  color: var(--white);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.sign-out:hover {
  color: var(--white);
  background-color: var(--dark-blue);
  cursor: pointer;
}

/*RoomList.js*/
.room-list {
}
.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: var(--gray);
  font-weight: bold;
  font-size: 20px;
  background: var(--cyan);
  cursor: pointer;
}

.dropdown-btn:hover {
  background-color: var(--dark-cyan);
  cursor: pointer;
}

.dropdown-content {
  top: 110%;
  z-index: -1;
  padding: 15px;
  font-weight: 500;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropdown-content.active {
  z-index: 1;
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition-delay: 0s, 0s, 0.3s;
}

.down-arrow {
  width: auto;
  height: 20px;
}

.dropdown-item {
  margin: 2px;
  padding: 10px;
  border: 1px solid var(--cyan);
  cursor: pointer;
  transition: all 0.1s;
}
.dropdown-item:hover {
  background-color: var(--cyan);
}

.plus-icon {
  width: auto;
  height: 20px;
  margin-right: 5px;
}

.add-room {
  display: inline-flex;
  align-items: center;
  float: right;
  margin: 10px;
  padding: 8px;
  color: var(--white);
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background-color: var(--cyan);
  border: 3px solid var(--black);
  outline: none;
}

.add-room:hover {
  background-color: var(--dark-cyan);
  cursor: pointer;
}

/*ChatWindow.js*/
.chat-window {
  height: 100vh;
  color: var(--black);
  background-color: var(--white);
}

.chat-window-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: var(--light-black);
  border-bottom: 3px solid var(--gray);
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-title {
  margin: 0;
  color: var(--blue);
  font-weight: bold;
  font-size: 20px;
}
.header-description {
  color: var(--white);
  font-size: 10px;
}
.course-name {
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
}
.header-button-group {
  display: flex;
  align-items: center;
}
.leave-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 17px;
  margin-left: 5px;
  padding: 10px;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  background-color: #ec3a3aff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.leave-button:hover {
  background-color: #660000;
  cursor: pointer;
}
.function-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 20px;
  margin-right: 10px;
  margin-left: 5px;
  padding: 10px;
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.function-button:hover {
  color: var(--white);
  background-color: var(--dark-blue);
  cursor: pointer;
}
.function-icon {
  width: auto;
  height: 20px;
  margin-right: 5px;
}

.tooltip-1 {
  display: inline-flex;
}
.tooltip-2 {
  display: inline-flex;
}

.tooltip-1 .tooltipText-1 {
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: auto;
  padding: 5px 0;
  color: var(--white);
  font-size: 15px;
  text-align: center;
  background-color: var(--dark-cyan);
  border-radius: 6px;
  visibility: hidden;
}

.tooltip-1:hover .tooltipText-1 {
  visibility: visible;
}

.tooltip-2 .tooltipText-2 {
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 60px;
  padding: 5px 0;
  color: var(--white);
  font-size: 15px;
  text-align: center;
  background-color: var(--dark-cyan);
  border-radius: 6px;
  visibility: hidden;
}

.tooltip-2:hover .tooltipText-2 {
  visibility: visible;
}

.avatar-1 {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 50%;
}

.avatar-2 {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 50%;
}

.chat-window-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100% - 100px);
  padding: 11px;
}

.message-list {
  max-height: 100%;
  overflow-y: auto;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2px 2px 0;
  /*border: 1px solid var(--cyan);*/
  border-top: 5px solid black;
}

.input-message-content {
  width: 100%;
  margin-bottom: 0;
}

.input-message {
  width: 100%;
  height: 40px;
  border-radius: 20px;
}

.attach-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.attach-button:hover {
  background-color: var(--gray);
  cursor: pointer;
}

.send-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 20px;
  margin-right: 5px;
  margin-left: 15px;
  padding: 10px;
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.send-button:hover {
  background-color: var(--gray);
  cursor: pointer;
}

/*Message.js*/
.message {
  margin-bottom: 10px;
}

.message-header {
  display: flex;
  align-items: center;
}

.author {
  margin-left: 5px;
  font-weight: bold;
}
.date {
  margin-left: 10px;
  color: var(--light-gray);
  font-size: 11px;
}

.message-content {
  margin-left: 25px;
}
.texting-message {
  margin-left: 30px;
}
