.search-bigcontainer {
  display: flex;
  align-content: center;
  justify-content: center;
  min-width: var(--content-w-min);
  text-align: center;
}

.search-container {
  position: relative;
}

.Icon {
  position: absolute;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 0 1.2rem;
}

.searchIcon {
  width: 28px;
  height: auto;
}

.filterIcon {
  width: 5%;
}

.form-control {
  top: 13.5rem;
  left: 23.5rem;
  width: 39rem;
  height: 3.5rem;
  border-radius: 5px;
}

input::placeholder {
  padding-left: 4rem;
  font-size: 1.2rem;
}
