.searchbar-container {
  position: relative;
}

.filter-window {
  position: absolute;
  right: calc(100% - 75%);
  z-index: 1;
}

.title {
  padding-top: 120px;
  text-align: center;
}

.tutor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 120px 20px 200px 20px;
}

@media only screen and (--viewport-phone) {
  .searchbar {
    padding: 0;
  }
}
