.searchbar-container {
  position: relative;
}

.filter-window {
  position: absolute;
  right: calc(100% - 75%);
  z-index: 1;
}

.title {
  padding-top: 120px;
  text-align: center;
}

.tutor {
  display: flex;
  justify-content: space-evenly;
}

.tutor-list {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 50% 50%;
  padding-top: 20px;
}

.hidden {
  display: none;
}

@media only screen and (--viewport-phone) {
  .searchbar {
    padding: 0;
  }

  .big-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 20%;
  }

  .tutor-list {
    display: flex;
    flex: none;
    overflow: auto;
  }

  .tutor-list.x {
    flex-flow: row nowrap;
    width: 80%;
  }

  .x.mandatory-scroll-snapping {
    scroll-snap-type: x mandatory;
  }

  .tutor-list > .tutor {
    flex: none;
    scroll-snap-align: center;
  }

  .x.tutor-list > .tutor {
    width: 100%;
  }
}
