.subject-tag {
  width: fit-content;
  padding: 5px 15px;
  color: var(--gray);
  font-weight: lighter;
  text-align: center;
  background-color: var(--lighter-gray);
  border-radius: var(--border-radius-xxs);
}

.link {
  text-decoration: none;
  transform: scale(1);
  cursor: pointer;
  transition: var(--transition-medium);
  transition-delay: var(--transition-rapid);
}
div a {
  text-decoration: none;
}

.link:visited {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  background-color: var(--light-gray);
}

.link:active {
  text-decoration: none;
  transform: scale(0.95);
}

.hidden {
  display: none;
}

@media only screen and (--viewport-phone) {
  align-content: center;
  align-items: center;
}
