.profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  width: 40%;
  padding: 10px;
  background-color: var(--white);
  border-radius: var(--border-radius-m);
}

.user-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.avatar-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.user-info-display {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  margin: 0 1.5rem 0 0;
  color: var(--black);
}

.user-info-display h4 {
  margin-bottom: 5px;
}

.user-info-display p,
.user-info-display span {
  margin-top: 0;
  font-size: 14px;
}

.subject-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.subject-list > div {
  margin-top: 10px;
  margin-right: 8px;
  padding: 5px 10px;
  color: var(--black);
  font-weight: lighter;
  font-size: 0.8rem;
  background-color: var(--lighter-gray);
}
