.profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  width: 40%;
  margin-bottom: 4em;
  padding: 10px 15px 10px 0;
  background-color: var(--white);
  border-radius: var(--border-radius-m);
}

.user-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
}

.avatar-image {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  transform: scale(1);
  transition: var(--transition-medium-relaxed);
  transition-delay: var(--transition-rapid);
  will-change: transform;
}

.avatar-image:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: var(--transition-medium-rapid);
}

.avatar-image:active {
  transform: scale(1);
}

.user-info-display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 55%;
  margin: 2em 0;
  color: var(--black);
}

.user-info-display a {
  color: inherit;
  text-decoration: underline transparent;
  transition: var(--transition-relaxed);
  will-change: text-decoration-color;
}

.user-info-display a:hover {
  color: inherit;
  text-decoration: underline;
}

.user-info-display h4 {
  margin: 0 0 5px;
}

.user-info-display h4:hover {
  cursor: pointer;
}

.user-info-display p,
.user-info-display span {
  margin-top: 0;
  font-size: 14px;
}

.subject-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.subject-list div {
  margin: 7px 10px 0 0;
  font-size: 14px;
}
