.profile-container,
.user-avatar,
.user-info-display,
.user-info-header,
.subject-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.profile-container {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  width: 85%;
  margin-bottom: 4em;
  padding: 10px 10px 10px 0;
  background-color: var(--white);
  border-radius: var(--border-radius-m);
}

.user-avatar {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
}

.avatar-image {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  transform: scale(1);
  transition: var(--transition-medium-relaxed);
  transition-delay: var(--transition-rapid);
  will-change: transform;
}

.avatar-image:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: var(--transition-medium-rapid);
}

.avatar-image:active {
  transform: scale(1);
}

.user-info-display {
  flex-direction: column;
  flex-wrap: wrap;
  width: 55%;
  margin: 2em 0;
  color: var(--black);
}

.user-info-display p,
.user-info-display span {
  margin-top: 0;
  font-size: 14px;
}

.user-info-header {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-bottom: 0.75em;
  text-align: center;
}

.user-info-header a {
  align-content: center;
  align-items: center;
  color: inherit;
  text-align: center;
  text-decoration: underline transparent;
  transition: var(--transition-relaxed);
  will-change: text-decoration-color;
}

.user-info-header a:hover {
  color: inherit;
  text-decoration: underline;
}

.user-info-header h4 {
  align-content: center;
  align-items: center;
  margin: 0 15px 3px 0;
  text-align: center;
}

.user-info-header h4:hover {
  cursor: pointer;
}

.subject-list {
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.subject-list div {
  margin: 7px 10px 0 0;
  font-size: 14px;
}

@media only screen and (--viewport-phone) {
  .profile-container {
    width: 90%;
  }

  .user-info-display,
  .user-info-header,
  .subject-list {
    align-content: center;
    text-align: center;
  }
  .subject-list {
    width: 100%;
  }
}
